@charset "UTF-8";
/* font-family: "MyriadProRegular"; */
@font-face {
  font-family: "MyriadProRegular";
  src: url("/fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("/fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("/fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MyriadProBold"; */
@font-face {
  font-family: "MyriadProBold";
  src: url("/fonts/MyriadProBold/MyriadProBold.eot");
  src: url("/fonts/MyriadProBold/MyriadProBold.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadProBold/MyriadProBold.woff") format("woff"), url("/fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "PFSquareSansProMedium"; */
@font-face {
  font-family: "PFSquareSansProMedium";
  src: url("/fonts/PFSquareSansProMedium/PFSquareSansProMedium.eot");
  src: url("/fonts/PFSquareSansProMedium/PFSquareSansProMedium.eot?#iefix") format("embedded-opentype"), url("/fonts/PFSquareSansProMedium/PFSquareSansProMedium.woff") format("woff"), url("/fonts/PFSquareSansProMedium/PFSquareSansProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "PFSquareSansProLight"; */
@font-face {
  font-family: "PFSquareSansProLight";
  src: url("/fonts/PFSquareSansProMedium/PFSquareSansProLight.ttf");
  src: url("/fonts/PFSquareSansProMedium/PFSquareSansProLight.ttf?#iefix") format("embedded-opentype"), url("/fonts/PFSquareSansProMedium/PFSquareSansProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MyriadProLight"; */
@font-face {
  font-family: "MyriadProLight";
  src: url("/fonts/MyriadProRegular/MyriadProLight.ttf");
  src: url("/fonts/MyriadProRegular/MyriadProLight.ttf?#iefix") format("embedded-opentype"), url("/fonts/MyriadProRegular/MyriadProLight.otf") format("otf"), url("/fonts/MyriadProRegular/MyriadProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

.col-1 {
  width: 8.33333%;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  float: left; }

.col-2 {
  width: 16.66667%;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  float: left; }

.col-3 {
  width: 25%;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  float: left; }

.col-4 {
  width: 33.33333%;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  float: left; }

.col-5 {
  width: 41.66667%;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  float: left; }

.col-6 {
  width: 50%;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  float: left; }

.col-7 {
  width: 58.33333%;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  float: left; }

.col-8 {
  width: 66.66667%;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  float: left; }

.col-9 {
  width: 75%;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  float: left; }

.col-10 {
  width: 83.33333%;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  float: left; }

.col-11 {
  width: 91.66667%;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  float: left; }

.col-12 {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  float: left; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

html {
  -webkit-font-smoothing: antialiased;
  font-family: "MyriadProLight", Helvetica, Arial, sans-serif;
  height: 100%; }

body {
  margin: 0;
  height: 100%; }

.form-group {
  margin-bottom: 15px; }

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  box-sizing: border-box;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #2b394a;
  background: #fff;
  border: 1px solid #797979;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  .form-control:focus {
    border-color: #cf4646;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(207, 70, 70, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(207, 70, 70, 0.6); }

.btn {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border: none;
  border-radius: 2px;
  font-family: "MyriadProRegular", Helvetica, Arial, sans-serif;
  padding: 6px 12px;
  font-size: 16px;
  cursor: pointer; }
  .btn.btn-sm {
    letter-spacing: 0;
    font-size: 14px;
    padding: 2px 20px; }
  .btn.btn-lg {
    font-size: 18px; }
  .btn.btn-default {
    border: 2px solid black;
    background: white;
    color: black; }
    .btn.btn-default:hover {
      background-color: black;
      color: white;
      border-color: white; }
  .btn.btn-shadow {
    width: 100%;
    -webkit-box-shadow: 0 1px 0 0 #bac2c9;
    -moz-box-shadow: 0 1px 0 0 #bac2c9;
    box-shadow: 0 1px 0 0 #bac2c9; }
  .btn.btn-danger {
    border: 2px solid #cf4646;
    background: #cf4646;
    color: white; }
    .btn.btn-danger:hover {
      background-color: white;
      color: #cf4646;
      box-shadow: 5px 5px 10px #cf4646; }

input[type=checkbox] {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  /* Base for label styling */
  /* checkbox aspect */
  /* checked mark aspect */
  /* checked mark aspect changes */
  /* disabled checkbox */
  /* accessibility */ }
  input[type=checkbox]:not(:checked),
  input[type=checkbox]:checked {
    visibility: hidden;
    width: 0; }
  input[type=checkbox]:not(:checked) + label,
  input[type=checkbox]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer; }
  input[type=checkbox]:not(:checked) + label:before,
  input[type=checkbox]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #9a9a9a;
    border-radius: 0;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3); }
  input[type=checkbox]:not(:checked) + label:after,
  input[type=checkbox]:checked + label:after {
    content: '✔';
    position: absolute;
    top: 0;
    left: 3px;
    font-size: 13px;
    color: #5f9ed3;
    transition: all 0.2s; }
  input[type=checkbox]:not(:checked) + label:after {
    opacity: 0; }
  input[type=checkbox]:checked + label:after {
    opacity: 1; }
  input[type=checkbox]:disabled:not(:checked) + label:before,
  input[type=checkbox]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd; }
  input[type=checkbox]:disabled:checked + label:after {
    color: #999; }
  input[type=checkbox]:disabled + label {
    color: #aaa; }
  input[type=checkbox]:checked:focus + label:before,
  input[type=checkbox]:not(:checked):focus + label:before {
    border: 1px solid #5f9ed3; }

a {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  text-decoration: none;
  color: white; }
  a:hover {
    color: #5f9ed3; }

.login-container {
  width: 100%;
  height: 100%;
  position: relative; }

.login-page {
  position: absolute;
  left: 40%;
  top: 50%;
  -webkit-transform: translate(-40%, -50%);
  -ms-transform: translate(-40%, -50%);
  transform: translate(-40%, -50%);
  border: 1px solid white;
  border-radius: 2px;
  color: black;
  background: white;
  width: 50%;
  padding: 20px; }
  .login-page h1 {
    color: #cf4646; }
  .login-page form label.lg-label {
    font-size: 24px;
    font-family: "MyriadProBold", Helvetica, Arial, sans-serif; }
  .login-page form input:not([type=checkbox]) {
    /* Firefox 19+ */
    /* Firefox 18- */
    height: 50px;
    font-size: 18px;
    font-family: "MyriadProRegular", Helvetica, Arial, sans-serif;
    box-sizing: border-box; }
    .login-page form input:not([type=checkbox]) ::-webkit-input-placeholder {
      color: #7f8999; }
    .login-page form input:not([type=checkbox]) ::-moz-placeholder {
      color: #7f8999; }
    .login-page form input:not([type=checkbox]) :-moz-placeholder {
      color: #7f8999; }
    .login-page form input:not([type=checkbox]) :-ms-input-placeholder {
      color: #7f8999; }
  .login-page form button {
    font-size: 22px; }
