@charset "UTF-8";
/* font-family: "MyriadProRegular"; */
@font-face {
  font-family: "MyriadProRegular";
  src: url("/fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("/fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("/fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MyriadProBold"; */
@font-face {
  font-family: "MyriadProBold";
  src: url("/fonts/MyriadProBold/MyriadProBold.eot");
  src: url("/fonts/MyriadProBold/MyriadProBold.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadProBold/MyriadProBold.woff") format("woff"), url("/fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "PFSquareSansProMedium"; */
@font-face {
  font-family: "PFSquareSansProMedium";
  src: url("/fonts/PFSquareSansProMedium/PFSquareSansProMedium.eot");
  src: url("/fonts/PFSquareSansProMedium/PFSquareSansProMedium.eot?#iefix") format("embedded-opentype"), url("/fonts/PFSquareSansProMedium/PFSquareSansProMedium.woff") format("woff"), url("/fonts/PFSquareSansProMedium/PFSquareSansProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "PFSquareSansProLight"; */
@font-face {
  font-family: "PFSquareSansProLight";
  src: url("/fonts/PFSquareSansProMedium/PFSquareSansProLight.ttf");
  src: url("/fonts/PFSquareSansProMedium/PFSquareSansProLight.ttf?#iefix") format("embedded-opentype"), url("/fonts/PFSquareSansProMedium/PFSquareSansProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "MyriadProLight"; */
@font-face {
  font-family: "MyriadProLight";
  src: url("/fonts/MyriadProRegular/MyriadProLight.ttf");
  src: url("/fonts/MyriadProRegular/MyriadProLight.ttf?#iefix") format("embedded-opentype"), url("/fonts/MyriadProRegular/MyriadProLight.otf") format("otf"), url("/fonts/MyriadProRegular/MyriadProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

.row {
  margin-left: -12px;
  margin-right: -12px; }

.col-1 {
  width: 8.33333%;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  float: left; }

.col-2 {
  width: 16.66667%;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  float: left; }

.col-3 {
  width: 25%;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  float: left; }

.col-4 {
  width: 33.33333%;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  float: left; }

.col-5 {
  width: 41.66667%;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  float: left; }

.col-6 {
  width: 50%;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  float: left; }

.col-7 {
  width: 58.33333%;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  float: left; }

.col-8 {
  width: 66.66667%;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  float: left; }

.col-9 {
  width: 75%;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  float: left; }

.col-10 {
  width: 83.33333%;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  float: left; }

.col-11 {
  width: 91.66667%;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  float: left; }

.col-12 {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  float: left; }

.form-group:after, .clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.container {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.form-group {
  margin-bottom: 15px;
  position: relative; }

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  box-sizing: border-box;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #2b394a;
  background: #fff;
  border: 2px solid #2b394a;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  .form-control:focus {
    border-color: #cf4646;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(207, 70, 70, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(207, 70, 70, 0.6); }

.btn {
  border: none;
  border-radius: 2px;
  font-family: "MyriadProRegular", Helvetica, Arial, sans-serif;
  padding: 6px 12px;
  font-size: 16px;
  cursor: pointer; }
  .btn.btn-sm {
    letter-spacing: 0;
    font-size: 14px;
    padding: 2px 20px; }
  .btn.btn-lg {
    font-size: 18px; }
  .btn.btn-default {
    border: 2px solid #839bb3;
    background: white;
    color: #839bb3; }
    .btn.btn-default:hover {
      background-color: #839bb3;
      color: white;
      border-color: #839bb3; }
  .btn.btn-shadow {
    width: 100%;
    -webkit-box-shadow: 0 1px 0 0 #bac2c9;
    -moz-box-shadow: 0 1px 0 0 #bac2c9;
    box-shadow: 0 1px 0 0 #bac2c9; }
  .btn.btn-danger {
    border: 2px solid #cf4646;
    background: #cf4646;
    color: white; }
    .btn.btn-danger:hover {
      background-color: white;
      color: #cf4646;
      box-shadow: 5px 5px 10px #cf4646; }

input[type=checkbox] {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  /* Base for label styling */
  /* checkbox aspect */
  /* checked mark aspect */
  /* checked mark aspect changes */
  /* disabled checkbox */
  /* accessibility */ }
  input[type=checkbox]:not(:checked),
  input[type=checkbox]:checked {
    visibility: hidden;
    width: 0; }
  input[type=checkbox]:not(:checked) + label,
  input[type=checkbox]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer; }
  input[type=checkbox]:not(:checked) + label:before,
  input[type=checkbox]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #9a9a9a;
    border-radius: 0;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3); }
  input[type=checkbox]:not(:checked) + label:after,
  input[type=checkbox]:checked + label:after {
    content: '✔';
    position: absolute;
    top: 0;
    left: 3px;
    font-size: 13px;
    color: #5f9ed3;
    transition: all 0.2s; }
  input[type=checkbox]:not(:checked) + label:after {
    opacity: 0; }
  input[type=checkbox]:checked + label:after {
    opacity: 1; }
  input[type=checkbox]:disabled:not(:checked) + label:before,
  input[type=checkbox]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd; }
  input[type=checkbox]:disabled:checked + label:after {
    color: #999; }
  input[type=checkbox]:disabled + label {
    color: #aaa; }
  input[type=checkbox]:checked:focus + label:before,
  input[type=checkbox]:not(:checked):focus + label:before {
    border: 1px solid #5f9ed3; }

html {
  -webkit-font-smoothing: antialiased;
  font-family: Tahoma, Helvetica, Arial, sans-serif;
  height: 100%; }

body {
  margin: 0;
  height: 100%; }

* {
  box-sizing: border-box;
  word-wrap: break-word; }

*:focus {
  outline: 0; }

h1 {
  color: #cf4646; }
  h1:hover {
    color: #b32f2f; }

.btn {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s; }

a {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  text-decoration: none;
  color: #2b394a;
  cursor: pointer; }
  a:hover {
    color: #cf4646; }

.error {
  color: red;
  font-family: "MyriadProBold", Helvetica, Arial, sans-serif; }

.error-input {
  background-color: #e9abab; }

.error-bg {
  background-color: #f9e8e8 !important; }

.good {
  color: green;
  font-family: "MyriadProBold", Helvetica, Arial, sans-serif; }

.logo {
  display: inline-block;
  float: left; }

label.lg-label {
  font-family: "MyriadProBold", Helvetica, Arial, sans-serif;
  margin-top: 5px; }

.navbar .nav {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  float: right; }
  .navbar .nav li {
    float: left;
    padding: 0 20px; }
    .navbar .nav li > a {
      font-family: "MyriadProRegular", Helvetica, Arial, sans-serif;
      font-size: 18px;
      display: block;
      line-height: 70px;
      border-bottom: 2px solid transparent; }
      .navbar .nav li > a:hover {
        border-bottom: 2px solid #cf4646; }

.nav-left {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px -12px; }
  .nav-left > li > a {
    border-right: 15px solid #cf4646;
    font-size: 18px;
    font-family: "MyriadProRegular", Helvetica, Arial, sans-serif;
    display: block;
    padding: 10px; }
    .nav-left > li > a:hover {
      border-right-color: #d7ddea; }

.login-page {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid white;
  border-radius: 2px;
  color: black;
  background: white;
  width: 100%;
  padding: 20px; }
  .login-page form input:not([type=checkbox]) {
    /* Firefox 19+ */
    /* Firefox 18- */
    height: 50px;
    font-size: 18px;
    font-family: "MyriadProRegular", Helvetica, Arial, sans-serif;
    box-sizing: border-box; }
    .login-page form input:not([type=checkbox]) ::-webkit-input-placeholder {
      color: #7f8999; }
    .login-page form input:not([type=checkbox]) ::-moz-placeholder {
      color: #7f8999; }
    .login-page form input:not([type=checkbox]) :-moz-placeholder {
      color: #7f8999; }
    .login-page form input:not([type=checkbox]) :-ms-input-placeholder {
      color: #7f8999; }
  .login-page form button {
    font-size: 22px; }

.registration form input:not([type=checkbox]) {
  /* Firefox 19+ */
  /* Firefox 18- */
  font-family: "MyriadProRegular", Helvetica, Arial, sans-serif;
  box-sizing: border-box; }
  .registration form input:not([type=checkbox]) ::-webkit-input-placeholder {
    color: #7f8999; }
  .registration form input:not([type=checkbox]) ::-moz-placeholder {
    color: #7f8999; }
  .registration form input:not([type=checkbox]) :-moz-placeholder {
    color: #7f8999; }
  .registration form input:not([type=checkbox]) :-ms-input-placeholder {
    color: #7f8999; }

.registration form button {
  font-size: 22px; }

.form-loader-icon {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 3px; }

.form-hint {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  margin: 0; }

.login-toggle {
  line-height: 45px;
  float: right;
  margin-right: 50px; }

.popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; }

.popup-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: url("/img/loading.gif") no-repeat center;
  background-size: cover;
  height: 500px;
  width: 500px; }

.settings fieldset {
  margin-bottom: 15px;
  border: none;
  border-top: 15px solid #2b394a;
  padding: 20px 20px 10px; }
  .settings fieldset legend {
    padding: 0 15px;
    color: #cf4646;
    font-family: "MyriadProRegular", Helvetica, Arial, sans-serif;
    font-size: 20px; }

.upload-file {
  width: 100%;
  border: 7px dashed #d7ddea;
  border-radius: 5px;
  min-height: 300px; }
  .upload-file .upload-inner {
    background-color: #f9f9f9;
    min-height: inherit;
    position: relative;
    text-align: center; }
    .upload-file .upload-inner span {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .upload-file .upload-inner.hover {
      background-color: #f2f2f2; }
    .upload-file .upload-inner.error {
      background: #faa;
      border-color: #f00; }
    .upload-file .upload-inner.drop {
      background: #afa;
      border-color: #0f0; }

.dropZone {
  color: #555;
  font-size: 18px;
  text-align: center;
  width: 400px;
  padding: 50px 0;
  margin: 50px auto;
  background: #eee;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.dropZone.hover {
  background: #ddd;
  border-color: #aaa; }

.dropZone.error {
  background: #faa;
  border-color: #f00; }

.dropZone.drop {
  background: #afa;
  border-color: #0f0; }

@media (min-width: 768px) {
  .col-sm-1 {
    width: 8.33333%;
    padding-left: 12px;
    padding-right: 12px;
    float: left; }
  .col-sm-2 {
    width: 16.66667%;
    padding-left: 12px;
    padding-right: 12px;
    float: left; }
  .col-sm-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
    float: left; }
  .col-sm-4 {
    width: 33.33333%;
    padding-left: 12px;
    padding-right: 12px;
    float: left; }
  .col-sm-5 {
    width: 41.66667%;
    padding-left: 12px;
    padding-right: 12px;
    float: left; }
  .col-sm-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
    float: left; }
  .col-sm-7 {
    width: 58.33333%;
    padding-left: 12px;
    padding-right: 12px;
    float: left; }
  .col-sm-8 {
    width: 66.66667%;
    padding-left: 12px;
    padding-right: 12px;
    float: left; }
  .col-sm-9 {
    width: 75%;
    padding-left: 12px;
    padding-right: 12px;
    float: left; }
  .col-sm-10 {
    width: 83.33333%;
    padding-left: 12px;
    padding-right: 12px;
    float: left; }
  .col-sm-11 {
    width: 91.66667%;
    padding-left: 12px;
    padding-right: 12px;
    float: left; }
  .col-sm-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    float: left; }
  .registration {
    width: 70%;
    margin: auto; } }
