/* font-family: "MyriadProRegular"; */
@import "local-paths";

@font-face {
  font-family: "Pacifico";
  src: url($fonts_path + "Pacifico/Pacifico.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Orbitron";
  src: url($fonts_path + "Orbitron/Orbitron-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "OrbitronBold";
  src: url($fonts_path + "Orbitron/Orbitron-Bold.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "OrbitronMed";
  src: url($fonts_path + "Orbitron/Orbitron-Medium.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Gloria";
  src: url($fonts_path + "Gloria/GloriaHallelujah.ttf");
  font-style: normal;
  font-weight: normal;
}
/*

@font-face {
  font-family: "MyriadProRegular";
  src: url($fonts_path + "MyriadProRegular/MyriadProRegular.eot");
  src: url($fonts_path + "MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
  url($fonts_path + "MyriadProRegular/MyriadProRegular.woff") format("woff"),
  url($fonts_path + "MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/!* font-family: "MyriadProBold"; *!/
@font-face {
  font-family: "MyriadProBold";
  src: url($fonts_path + "MyriadProBold/MyriadProBold.eot");
  src: url($fonts_path + "MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
  url($fonts_path + "MyriadProBold/MyriadProBold.woff") format("woff"),
  url($fonts_path + "MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/!* font-family: "MyriadProLight"; *!/
@font-face {
  font-family: "MyriadProLight";
  src: url($fonts_path + "MyriadProRegular/MyriadProLight.ttf");
  src: url($fonts_path + "MyriadProRegular/MyriadProLight.ttf?#iefix")format("embedded-opentype"),
  url($fonts_path + "MyriadProRegular/MyriadProLight.otf") format("otf"),
  url($fonts_path + "MyriadProRegular/MyriadProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}*/
