/* font-family: "MyriadProRegular"; */
@import "local-paths";

@font-face {
  font-family: "Architects";
  src: url($fonts_path + "Architects/ArchitectsDaughter.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Pacifico";
  src: url($fonts_path + "Pacifico/Pacifico.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Gloria";
  src: url($fonts_path + "Gloria/GloriaHallelujah.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Inconsolata";
  src: url($fonts_path + "Inconsolata/Inconsolata-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Inconsolata";
  src: url($fonts_path + "Inconsolata/Inconsolata-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: url($fonts_path + "Roboto/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url($fonts_path + "Roboto/Roboto-Thin.ttf");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Roboto";
  src: url($fonts_path + "Roboto/Roboto-Light.ttf");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url($fonts_path + "Roboto/Roboto-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url($fonts_path + "Roboto/Roboto-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}

